.env
.venv/
__pycache__/
*.py[cod]
.pytest_/cache/
.coverage
htmlcov/
*.log
/outputs/
/checkpoints/
/models/
/cache/
/datasets/
/temp/
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.tif
*.tiff
*.egg-info/
build/
dist/
